@import "tailwindcss";

/* Headings = Sora Bold */
.heading,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: bold;
}
/* Text = Noto Sans */
.text,
p {
  font-family: "Noto Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-primary-nightwing-hex);
}

@theme {
  /* Primary Colors */
  --color-primary-featherflame-hex: #fd940c; /* Orange button mobile MVP */
  --color-primary-featherflame-rgb: 253, 148, 12;
  --color-primary-featherflame-cmyk: 0, 42, 95, 1;

  --color-primary-nightwing-hex: #012238; /* Background color mobile MVP (darmode)*/
  --color-primary-nightwing-rgb: 1, 34, 56;
  --color-primary-nightwing-cmyk: 98, 39, 0, 78;

  --color-primary-golden-egg-hex: #ffc710;
  --color-primary-golden-egg-rgb: 255, 199, 16;
  --color-primary-golden-egg-cmyk: 0, 22, 94, 0;

  /* Accent Colors */
  --color-accent-duskwater-hex: #4f5075;
  --color-accent-duskwater-rgb: 79, 80, 117;
  --color-accent-duskwater-cmyk: 32, 31, 0, 54;

  --color-accent-eggshell-hex: #fdf8e2; /* Text color mobile MVP (darkmode) */
  --color-accent-eggshell-rgb: 253, 248, 226;
  --color-accent-eggshell-cmyk: 0, 2, 11, 1;

  /* Alert Colors */
  --color-alert-coral-hex: #f37a4a;
  --color-alert-coral-rgb: 243, 122, 74;
  --color-alert-coral-cmyk: 0, 50, 70, 5;

  --color-alert-duck-hex: #ebb35a;
  --color-alert-duck-rgb: 227, 179, 90;
  --color-alert-duck-cmyk: 0, 21, 60, 11;

  --color-alert-grass-hex: #21a67e;
  --color-alert-grass-rgb: 33, 166, 126;
  --color-alert-grass-cmyk: 80, 0, 24, 35;

  /* Font Sizes */
  --h1-size: 3rem; /* 40 px */
  --h2-size: 2rem; /* 32 px */
  --h3-size: 1.5rem; /* 24 px */
  --h4-size: 1.3rem; /* 20 px */
  --h5-size: 1.1rem; /* 18 px */
  --text-body-size: 1rem; /* 16 px */
  --text-caption-size: 0.75rem; /*12 px */
}

/* Desktop overrides for font sizes */
@media (min-width: var(--breakpoint-lg)) {
  :root {
    --h1-size: 5.063rem; /* 81px */
    --h2-size: 3.375rem; /* 54px */
    --h3-size: 2.25rem; /* 36px */
    --h4-size: 1.5rem; /* 24px */
    --h5-size: 1.375rem; /* 22px */
    --text-body-size: 1rem; /* 16px */
    --text-caption-size: 0.75rem; /* 12px */
  }
}

:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--color-primary-nightwing-hex);
  background-color: var(--color-accent-eggshell-hex);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  color-scheme: dark;
  color: var(--color-accent-eggshell-hex);
  background-color: var(--color-primary-nightwing-hex);
}

a {
  font-weight: 500;
  color: #646cff; /* update when design is ready*/
  text-decoration: inherit;
}
a:hover {
  color: #535bf2; /* update when design is ready*/
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: var(--h1-size);
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: var(--text-body-size);
  font-weight: 700;
  font-family: "Noto Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--color-primary-featherflame-hex);
  color: var(--color-primary-nightwing-hex);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff; /* update when design is ready*/
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
